<div ng-controller="HomeCtrl">
    <md-tabs md-selected="selectedTabIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Input">
            <md-content class="md-padding">
                <div style="float:right; padding:12px;">
                    <button type="button" class="btn btn-primary" ng-click="changeOptions()"><i class="fa fa-check-circle"></i> toggle options</button>
                </div>
                <h1 class="md-display-1">Input <span class="md-caption">Calculation</span></h1>
                <div ng-jsoneditor ng-model="d.input" options="d.json_editor_options" style="width: 100%; height: 600px;"></div>
            </md-content>
        </md-tab>
        <md-tab label="Output">
            <md-content class="md-padding">
                <div style="float:right; padding:12px;">
                    <button type="button" class="btn btn-primary" ng-click="changeOptions()"><i class="fa fa-check-circle"></i> toggle options</button>
                </div>
                <h1 class="md-display-1">Output  <span class="md-caption">Calculation ( {{d.timings.duration}} milliseconds )</span></h1>
                <div ng-jsoneditor ng-model="d.output" options="d.json_editor_options" style="width: 100%; height: 600px;"></div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
